<div class="container">
    <div class="row" *ngIf="productos.length > 0">
        <div class="col-md-12">
            <h3>Productos PLOW</h3>
            <br/>
            <div class="alert alert-success">Resultados encontrados: {{productos.length}} para: {{entrada}}.</div>
            <br/>
            <div class="card-column">
                <app-producto-card (productoSelect)="verProducto($event)" [producto]="producto" [sku]="producto.SKU" *ngFor=" let producto of productos ">
                </app-producto-card>
            </div>
        </div>

    </div>
    <div class="alert alert-primary " *ngIf="productos.length <=0 ">No se ha encontrado un producto con esta entrada: {{entrada}}.</div>
</div>