<main>
    <section class="overview-wrap" id="overview">
        <div class="container ">
            <div class="contenedor ">
                <h2 class="title-overview wow fadeInUp ">BIENVENIDO</h2>
                <p class="subtitle-overview wow fadeInUp ">A tu lugar favorito para consentirte y cuidar tu belleza corporal, Aquí podrás obtener los mejores productos y servicios con excelente calidad, estilo e innovacion; todo esto para ayudarte a encontrar la mejor solución estetica y unica
                    a tu necesidad. Disfruta y aprovecha el momento hasta el final.
                </p>
                <div class="row ">
                    <div class="col-md-6 col-lg-3 wow bounceInUp " id="bronceador" data-wow-duration="1.4s ">
                        <div class="overview-box mx-auto ">
                            <div class="features-icons-icon d-flex ">
                                <i class="fa fa-html5 fa-5x html5 m-auto ">
                                    </i>
                            </div>
                            <h5>{{'BRONCEADOR' | lowercase }}</h5>
                            <b>{{50000 | currency:'COP':'symbol':'.0-0'}}</b>
                            <p class=" mb-0 ">Te ofrece una piel hermosa con un bronceado en tonos dorados y la protege contra las quemaduras y el envejecimiento Prematuro...! </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 wow bounceInUp " id="repolarizador" data-wow-duration="1.4s ">
                        <div class="overview-box mx-auto ">
                            <div class="features-icons-icon d-flex ">
                                <i class="fa fa-css3 fa-5x css3 m-auto "></i>
                            </div>
                            <h5>{{'repolarizador' | uppercase}}</h5>
                            <b>{{20000 | currency:'COP':'symbol-narrow'}}</b>
                            <p class=" mb-0 ">{{'Elimina y previene el frizz. Este tratamiento actúa efectivamente devolviendo al cabello la vitalidad perdida. Regenera, repara y aviva el cabello. Es un hidratador intensivo que...' | slice:0:100}} ...</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 wow bounceInUp " id="cera" ata-wow-duration=" 1.4s ">
                        <div class="overview-box mx-auto ">
                            <div class="features-icons-icon d-flex ">
                                <i class="fa fa-android fa-5x android m-auto "></i>
                            </div>
                            <h5>{{'ceramaxiclear' | titlecase }}</h5>
                            <b>{{17000.255555 | currency:'COP':'symbol':'.0-2'}}</b>
                            <p class=" mb-0 ">{{'Para una depilación eficaz CERAMAXICLEAR,ideal para cabello grueso y rebelde,retira con facilidad el pelo de zonas pequeñas como axilas, abdomen o ingles.' | slice:0:100}} ...</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 wow bounceInUp " id="espuma" ata-wow-duration=" 1.4s ">
                        <div class="overview-box mx-auto ">
                            <div class="features-icons-icon d-flex ">
                                <i class="fa fa-drupal fa-5x drupal m-auto "></i>
                            </div>
                            <h5>{{'espuma' | titlecase}} {{'faceclear' | uppercase}}</h5>
                            <b>{{30000 | currency}}</b>
                            <p class=" mb-0 ">Compra tu Espuma para afeitar te ofrece una afeitada suave, con menos irritación y libre de fragancia, especialmente diseñada para la cara.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="galeria ">
        <div class="sesgoarriba "></div>
        <div class="imagenes ">
            <img src="https://images.pexels.com/photos/938965/pexels-photo-938965.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 " alt=" " class="img-fluid ">
            <div class="enmica ">
                <h2>Belleza y Cuidado Personal</h2>
                <div></div>
            </div>
        </div>
        <div class="sesgoabajo "></div>
    </section>
    <!--Our Team-->
    <section class="our-team" id="team">
        <div class="container ">
            <h2 class="title-our-team wow fadeInUp ">NUESTROS SERVICIOS</h2>
            <p class="subtitle-our-team wow fadeInUp ">A continuación. podras encontrar nuestro catálogo de servicios con alta calidad y profesionalismo para tu comodidad donde tu lo prefieras.</p>
            <ul class="row d-flex justify-content-around" id="services-ul">
                <li class="wow fadeInLeft" hidden data-wow-duration="1.4s">
                    <div class="mycard-block equal-hight ">
                        <figure><img src="https://images.pexels.com/photos/213117/pexels-photo-213117.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 " class="img-fluid " alt=" "></figure>
                        <h3><a href="javascript:void(0) ">Lorem Ipsum</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <ul class="follow-us clearfix " hidden>
                            <li><a href="# " class="btn btn-circle my-social-btn fb "><i class="fa fa-facebook " ></i></a></li>
                            <li><a href="# " class="btn btn-circle my-social-btn twitter "><i class="fa fa-twitter " ></i></a></li>
                            <li><a href="# " class="btn btn-circle my-social-btn google "><i class="fa fa-linkedin " ></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="wow fadeInLeft" data-wow-duration="1.4s ">
                    <div class="mycard-block equal-hight ">
                        <figure><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEN_6NvWLd2zoeTq0rt3DAm4vidRfQhLKAQQ&usqp=CAU" class="img-fluid " alt=" "></figure>
                        <h3>
                            <a href="javascript:void(0) ">ESTETICA</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <ul class="follow-us clearfix ">
                            <li><a href="# " class="btn btn-circle my-social-btn  "><i class="fa fa-cera " ></i></a></li>
                            <li><a href="# " class="btn btn-circle my-social-btn "><i class="fa fa-una " ></i></a></li>
                            <li><a href="# " class="btn btn-circle my-social-btn  spa-btn "><i class="fa fa-spa " ></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="wow fadeInLeft" data-wow-duration="1.4s ">
                    <div class="mycard-block equal-hight ">
                        <figure><img src="https://images.pexels.com/photos/874158/pexels-photo-874158.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 " class="img-fluid " alt=" "></figure>
                        <h3><a href="javascript:void(0) ">BARBERIA</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <ul class="follow-us clearfix ">
                            <li><a href="# " class="btn btn-circle my-social-btn "><i class="fa fa-corte " ></i></a></li>
                            <li><a href="# " class="btn btn-circle my-social-btn spa-btn"><i class="fa fa-tinte " ></i></a></li>
                            <li><a href="# " class="btn btn-circle my-social-btn "><i class="fa fa-cuchilla " ></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="wow fadeInLeft" data-wow-duration="1.4s ">
                    <div class="mycard-block equal-hight ">
                        <figure><img src="https://images.jumpseller.com/store/wow-my-hair/page/270576/educador.png.png" class="img-fluid " alt=" "></figure>
                        <h3>
                            <a href="javascript:void(0) ">BELLEZA INTEGRAL</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <ul class="follow-us clearfix ">
                            <li><a href="# " class="btn btn-circle my-social-btn  "><i class="fa fa-pestana " ></i></a></li>
                            <li><a href="# " class="btn btn-circle my-social-btn  "><i class="fa fa-ceja " ></i></a></li>
                            <li><a href="# " class="btn btn-circle my-social-btn  "><i class="fa fa-beauty " ></i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="testimonials-wrap " id="testimonials ">
        <div class="sesgoarriba "></div>
        <div class="container ">
            <div class="contenedor ">
                <h2 class="title-testimonials wow fadeInUp ">Happy Clients</h2>
                <h3 class="subtitle-testimonials wow fadeInUp ">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus</h3>
                <!-- banner starts -->
                <div class="slide-one ">
                    <div id="demo " class="carousel slide " data-ride="carousel ">
                        <!-- Indicators -->
                        <ul class="carousel-indicators ">
                            <li data-target="#demo " data-slide-to="0 " class="active "></li>
                            <li data-target="#demo " data-slide-to="1 "></li>
                            <li data-target="#demo " data-slide-to="2 "></li>
                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner ">
                            <div class="carousel-item active ">
                                <div class="banner-slide ">
                                    <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 " class="img-fluid ">
                                    <h5>Lorem Ipsum -</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus.
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="banner-slide ">
                                    <img src="https://images.pexels.com/photos/903661/pexels-photo-903661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 " class="img-fluid ">
                                    <h5>Lorem Ipsum -</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus.
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="banner-slide ">
                                    <img src="https://images.pexels.com/photos/713520/pexels-photo-713520.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 " class="img-fluid ">
                                    <h5>Lorem Ipsum -</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev " href="#demo " data-slide="prev ">
                            <span class="carousel-control-prev-icon "></span>
                        </a>
                        <a class="carousel-control-next " href="#demo " data-slide="next ">
                            <span class="carousel-control-next-icon "></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sesgoabajo "></div>
    </section>
    <!--latest post-->
    <section class="blog-wrap " id="blog " hidden>
        <div class="container-fluid ">
            <h2 class="title-blog wow fadeInUp ">Latest Posts</h2>
            <p class="subtitle-blog wow fadeInUp ">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus</p>
            <div class="row ">
                <div class="col-md-4 wow bounceInUp " data-wow-duration="1.4s ">
                    <div class="card ">
                        <figure class="text-center ">
                            <img src="https://images.pexels.com/photos/1432942/pexels-photo-1432942.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 " class="img-fluid ">
                        </figure>
                        <div class="card-body ">
                            <h5 class="card-title ">Lorem ipsum dolor sit amet</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus.</p>
                            <a href="# " class=" ">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow bounceInUp " data-wow-duration="1.4s ">
                    <div class="card ">
                        <figure class="text-center ">
                            <img src="https://images.pexels.com/photos/929831/pexels-photo-929831.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 " class="img-fluid ">
                        </figure>
                        <div class="card-body ">
                            <h5 class="card-title ">Lorem ipsum dolor sit amet</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus.</p>
                            <a href="# " class=" ">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow bounceInUp " data-wow-duration="1.4s ">
                    <div class="card ">
                        <figure class="text-center ">
                            <img src="https://images.pexels.com/photos/938965/pexels-photo-938965.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 " class="img-fluid ">
                        </figure>
                        <div class="card-body ">
                            <h5 class="card-title ">Lorem ipsum dolor sit amet</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus.</p>
                            <a href="# " class=" ">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta contact-wrap " id="contact ">
        <div class="container ">
            <div class="row ">
                <div class="col-xl-9 mx-auto wow zoomIn ">
                    <div class="cta-inner text-center rounded ">
                        <h2 class="section-heading mb-4 ">
                            <span class="section-heading-upper ">Get in Touch With Us</span>
                        </h2>
                        <div class="contactForm ">
                            <form>
                                <div class="form-group ">
                                    <input type="text " name="name " class="form-control " placeholder="Name " required="required ">
                                </div>
                                <div class="form-group ">
                                    <input type="email " name="email " class="form-control " placeholder="Email " required="required ">
                                </div>
                                <div class="form-group ">
                                    <input type="text " name="mobile " class="form-control " placeholder="Mobile " required="required ">
                                </div>
                                <div class="form-group ">
                                    <textarea class="form-control " rows="4 " cols="50 " placeholder="Message "></textarea>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-12 ">
                                        <input type="submit " name="submit " value="Send " class="btn-login ">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer bg-dark " hidden>
    <div class="container ">
        <div class="row ">
            <div class="col-lg-12 text-center my-auto ">
                <p class="mb-4 mb-lg-0 ">© SKEWED 2018. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js "></script>
<script>
    new WOW().init();
</script>
<script>
    $(window).on("scroll ", function() {
        if ($(this).scrollTop() > 10) {
            $("nav.navbar ").addClass("mybg-dark ");
            $("nav.navbar ").addClass("navbar-shrink ");

        } else {
            $("nav.navbar ").removeClass("mybg-dark ");
            $("nav.navbar ").removeClass("navbar-shrink ");

        }
    });
</script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css " rel="stylesheet " id="bootstrap-css ">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet " type="text/css " href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
<link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css " />