<H1>NUESTRA COMPAÑIA</H1>
<hr/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
<div class="container">
    <div class="well">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="https://t4.ftcdn.net/jpg/03/14/37/91/240_F_314379120_95wyvNN7s2fCmONBxy6igWOSprUk6OU5.jpg">
            </a>
            <div class="media-body">
                <h1 class="media-heading">MISION</h1>
                <p class="text-right"></p>
                <h2>Nuestra prioridad e interés es la satisfacción de nuestros clientes través de los productos y servicios que ofrecemos los cuales son elaborados con Dedicación, Excelente Calidad y Estilo, estando siempre a la vanguardia en moda  e innovación para el bienestar de nuestros clientes. </h2>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                    <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                    <li>|</li>
                    <li>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </li>
                    <li>|</li>
                    <li>
                        <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                        <span><i class="fa fa-facebook-square"></i></span>
                        <span><i class="fa fa-twitter-square"></i></span>
                        <span><i class="fa fa-google-plus-square"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="https://t3.ftcdn.net/jpg/01/85/15/84/240_F_185158483_zlEzzo0FveqbdY9ZTb2vq2nXN4aWhs1W.jpg">
            </a>
            <div class="media-body">
                <h1 class="media-heading">VISION</h1>
                <p class="text-right">By Anailuj</p>
                <h2> Seremos reconocidos por nuestros innovadres productos y diseños que van de la mano con la responsabilidad ética y social, altamente valorada por sus colaboradores como una compañía con alma , bienestar y como uno de los mejores lugares para trabajar en el país, que además  generará valor a sus grupos de interés.</h2>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                    <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                    <li>|</li>
                    <li>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </li>
                    <li>|</li>
                    <li>
                        <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                        <span><i class="fa fa-facebook-square"></i></span>
                        <span><i class="fa fa-twitter-square"></i></span>
                        <span><i class="fa fa-google-plus-square"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>